*{
    margin:0px;
    padding:0px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:466362;
    min-height:100vh;
    
}


   

H2{
    font-size: 24PX;}

.box{
    color:cfd2b2 ;
    background-color:rgb(207, 210, 178,0.1);
   border: solid 1px rgba(207, 210, 178, 0.5);
   border-right: 1px rgba(207, 210, 178, 0.2); 
   border-bottom: 1px rgba(207, 210, 178, 0.2);
   border-radius: 10px;
    margin:15px;
    padding:20px;
    min-width: 400px;
    min-height: 200px;
    
}

.list{
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(17, 24, 17, 0.178);
}
.imgBox IMG{
    width:60PX;
    height:60px;
}

.content{
    align-items: center;
}
.number{
    position: absolute;
    RIGHT:30PX;
}
.list:hover{
    transform: scale(1.15) translateX(15px) translateY(-10PX);
    transition: 0.7s;
    background-color: CFD2B2;
    color: 442f38;
}
.list:hover .number{
    right:30PX;
    transition: 0.7s;
}
.CONTENT {
    text-decoration: none;
}
